<div style="margin-bottom: 5ex;">Elements: {{ elementCount}}</div>

<table #tableRef>
  <thead>
    <th *ngFor="let header of table.headers">{{header}}</th>
  </thead>
  <tbody>
    <tr *ngFor="let row of table.rows">
      <td *ngFor="let cell of row.cells">{{cell}}</td>
    </tr>
  </tbody>
</table>
